footer {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: $font_small;
    background-color: $nav_links;
    color: beige;

    .address {
        text-transform: uppercase;
    }

    .dimitriinc {
        border: 1px solid $overlay;
    }
}