html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: $font_medium;
    line-height: 1.3;
    color: $gray_body;
    background-image: url(images/sonaBackgroundTexture.jpg);
    text-decoration: none;
}

a, a:visited, a:hover {
    text-decoration: none;
}

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}