.main-contact {

    min-height: 100vh;

    h2 {
        margin-top: 5rem;
        padding: 0 1rem;

        @include breakpoint-down(tablet) {
            font-size: 30px;
        }
    }

    p {
        margin-bottom: 3rem;
        padding: 0 1rem;
        
    }
    
}