.main-menu {
    min-height: 100vh;

    @include breakpoint-up(laptop) {
        h2 {
            display: none;
        }
    }

    @include breakpoint-down(tablet) {
        .aux_title {
            padding-top: 1.5rem;
        }
    }

    .categories-carousel {

        @include breakpoint-up(laptop) {
            margin-top: 4rem;
        }

        .carousel {
            height: 100px;

            .carousel-item {
                width: fit-content;
                height: fit-content;
            }
        }
        .menu-categories-container {
            
            padding: 2rem;
            margin-top: 1rem;
    
            .menu-category {
                padding: .5rem;
                border: 1px solid;
                font-size: 25px;
                color: $overlay;
                background-color: $nav_links;
                border-radius: 10px;
                overflow: hidden;
                cursor: pointer;
            }
        }
    }

    
    
}