
main {

    text-align: center;

    .hero {
        
        width: 100%;
        position: relative;
        height: calc(100vh - 15rem);

        @include breakpoint-up(tablet) {
            height: calc(100vh - 10rem);
        }

        @include breakpoint-up(laptop) {
            height: 100vh;
        }

        &__image {
            position: absolute;
            background-image: url(/images/throwaway_image.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            min-height: 25.3rem;
            width: 100%;
            top: 50%;

            @include breakpoint-up(laptop) {
                top: auto;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                margin-bottom: .6rem;
                width: 80%;
                min-height: calc(100vh - 160px);
            }

            @include breakpoint-down(tablet) {
                transform: translateY(-40%);
            }
        }
    }

    .main-text {

        text-align: center;
        border: 2rem solid #fff;
        border-image: url(/images/art_border_slightly_orange.png);
        border-image-repeat: round;
        border-image-slice: 88;
        padding: 2rem;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint-up(laptop) {
            width: 80%;
        }

        p.main-message {
            @include breakpoint-up(laptop) {
                max-width: 640px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        h2 {
            text-transform: uppercase;
            font-family: 'Saveur Sans';
        }

        button {
            margin: 3rem 0;
            font-size: 1rem;

            @include breakpoint-down(tablet) {
                &:active {
                    background-color: $nav_links;
                    color: $overlay;
                }
            }
            
            @include breakpoint-up(laptop) {
                &:hover {
                    background-color: $hamburger_menu;
                    color: $overlay;
                }
                &:active {
                    background-color: $overlay;
                    color: $hamburger_menu;
                    transform: scale(80%);
                }
            }
        }
    }
    
    .bottom-image {
        background-image: url(/images/overview.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
        z-index: 0;
        min-height: 25rem;
        color: #fff;
        overflow: hidden;
        outline: 1px solid;
        outline-offset: -10px;

        @include breakpoint-up(laptop) {
            min-height: 33rem;
        }

        .img-button {
            position: absolute;
            left: 0;
            right: 0;
            top: 45%;
            margin: auto;
            font-weight: 1000;
            border: 1px solid;
            color: $overlay;
            width: fit-content;
            letter-spacing: 2px;
            padding: 1rem;
            font-size: 1rem;
            text-transform: uppercase;
            transition: all 300ms ease-in-out;

            &:active {
                background-color: $overlay;
                color: $hamburger_menu;
            }
        }
    }
}

