.main-jobs {
    min-height: 100vh;

    h2 {
        margin-top: 5rem;
        @include breakpoint-down(tablet) {
            font-size: 35px;
        }
        @include breakpoint-down(mobile) {
            font-size: 30px;
        }
    }

    p {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4rem;
    }

    form {
        padding-bottom: 4rem;
    }

    .position-default {
        color: grey;
    }
}