.main-jobs {
    min-height: 100vh;

    h2 {
        margin-top: 5rem;
        @include breakpoint-down(tablet) {
            font-size: 35px;
        }
        @include breakpoint-down(mobile) {
            font-size: 30px;
        }
    }

    p {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4rem;
    }

    form {
        padding-bottom: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;

        .input-file {

            font-size: $font_small;
            display: block;
            margin-bottom: 3rem;

            .label-file {
                font-style: italic;
            }
        }

        input[type="file"] {
            
        }

        
    }

    .position-default {
        color: grey;
    }
}