// Colors
$hamburger_menu: #7a5e5d;
$nav_links: #220230;
$nav_links_hover: #5c0f61;
$gray_body: #403b42;
$header_background: #d4caa1;

// Font Sizes
$font_medium: 1.125rem; // 18px
$font_small: 0.875rem; // 14px