@import "variables";
@import "mixins";
@import "globals";
@import "header";




nav {
    display: flex;
    justify-content: center;
    
    ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        li {
            text-transform: uppercase;
            letter-spacing: .2em;
            a {
                display: block;
                padding: .5em 1em;
                margin: .5em;
                border: 1px solid;
                border-radius: .5em;
                text-decoration: none;
            }
        }
    }
}

footer {
    padding: 1em;
    text-align: center;
    font-size: .8em;
    background-color: maroon;
    color: beige;
}

h1 {
    text-align: center;
    font-family: 'Tangerine';
    text-transform: uppercase;
}

#testParagraph {
    text-transform: lowercase;
    font-family: serif;
    margin: 1.5rem;
    border: 2px solid;
    padding: 1em;
    border-color: $hamburger_menu;
    border-radius: .5rem;
}

.navItem:hover {

    text-decoration: underline;
}




