@charset "UTF-8";

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-image: url(images/sonaBackgroundTexture.jpg);
}

a {
    text-decoration: none;
}

header {
    background-color: darkkhaki;
}

nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .2em;
}

nav ul li a {
    display: block;
    padding: .5em 1em;
    margin: .5em;
    border: 1px solid;
    border-radius: .5em;
}

footer {
    padding: 1em;
    text-align: center;
    font-size: .8em;
    background-color: maroon;
    position: absolute;
    bottom: 0;
    width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
}

#testParagraph {
    text-align: center;
    text-transform: lowercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navItem:hover {
    text-decoration: underline;
}
footer p:hover {
    text-transform: uppercase;
}